@define-color background #1a1b26;
@define-color white #ffffff;
@define-color cloudy #c0caf5;

* {
  font-family: "HackGen Console NF";
  font-size: 28px;
}

window {
  background-color: @background;
  color: @white;
  border-radius: 10px;
}

#entry {
  padding: 0.5em;
}

#entry:selected {
  background-color: @cloudy;
  color: @background;
  border-radius: 5px;
}

#text:selected {
  color: @background;
}

#input {
  padding: 0.5em;
  background-color: @background;
  color: @white;
  border-top-left-radius: 10px;
  border-top-right: 10px;
}

image {
  margin: 0 0.25em;
}
